<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project.Properties.Settings.Table1_nConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\Sem 3\OOP\Project\Table1_n.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="project.Properties.Settings.Table1_nConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Table1_n.mdb"
            providerName="System.Data.OleDb" />
        <add name="project.Properties.Settings.Table1_nConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=G:\editted_project\Table1_n.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>